@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap");

.new-container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

.title {
  font-weight: 900;
  font-size: 3.1rem;
  font-family: "Libre Baskerville", "Roboto", "serif";
}

.text-shadow {
  text-shadow: 1px 1px 2px black;
}

.libre {
  font-family: "Libre Baskerville", "Roboto", "serif";
}

.img-wrapper-banner2 {
  position: relative;
  overflow: hidden;
  z-index: -1;
  width: 100%;
  max-height: 60vh;
  min-height: 30rem;
  background-image: url("./../layout/images/market.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: center 75%;
  opacity: 0.9;
}

.good-img {
  max-width: 15rem;
  margin: 0 auto;
}

.text-and-button .fun-btn {
  position: absolute;
  top: 10rem;
  left: 0rem;
  z-index: 2;
  margin-left: 8%;
}

.go-down {
  position: relative;
  top: 30rem;
  margin-bottom: 24.5rem;
}

.over-image {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  min-width: 20rem;
}

@media (max-width: 648px) {
  .title {
    margin: 2rem;
    margin-left: 1rem;
    font-size: 2.2rem;
  }
}

/* The Image Banners */

.img-wrapper-banner {
  position: relative;
  overflow: hidden;
  /*z-index: -1;*/
  width: 100%;
  max-height: 60vh;
  min-height: 30rem;
  background-image: url("./../layout/images/spices.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: center 10%;
  opacity: 1;
}

/*.img-wrapper-banner img {
  transform: translateY(-40%);
  opacity: 0.9;
  min-width: 60rem;
}*/

.text-and-button {
  width: 100%;
  top: 29%;
  position: absolute;
}

.fun-text {
  color: #ffffff;
  z-index: 2;
  font-size: 3rem;
  display: flex;
  text-shadow: 1px 1px 2px black;
  margin-left: 8%;
  /* padding-right: 65px; */
}

@media (max-width: 648px) {
  .fun-text {
    font-size: 1.9rem !important;
    text-align: center;
    margin-left: 0;
  }
  .text-and-button .fun-btn {
    margin: 0;
    left: 50%;
    top: 8rem;
    transform: translateX(-50%);
  }
}

@media (max-width: 903px) {
  .fun-text {
    font-size: 5.161vw;
  }
}

/* @media (max-width: 415px) {
  .fun-text {
    margin-block-start: 0rem;
  }
} */

@media (max-width: 1240px) {
  .text-and-button {
    top: 12.57258vw;
  }
}

@media (max-width: 750px) {
  .text-and-button {
    top: 5.89339rem;
  }
}

@media (max-width: 1100px) {
  .img-wrapper-banner {
    min-height: 43.6363vw;
  }
}

@media (max-width: 840px) {
  .img-wrapper-banner {
    min-height: 22.909rem;
  }
}

@media (max-width: 430px) {
  .fun-text {
    font-size: 7.069vw !important;
    text-align: center;
    margin-right: 0;
    margin-left: 1rem;
    margin-top: -2rem;
  }
}

/* @media (max-width: 750px) {
  .img-wrapper-banner {
    min-height: 0 !important;
  }
} */
/* ---------------- */
